@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@900&family=Rubik:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: transparent;
  background-color: transparent;
}

ul,
summary {
  list-style: none;
}

body {
  height: 100%;
}

.img-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.title {
  color: #fff;
  text-align: center;
  font-family: Nunito;
  font-size: calc(20px + 25 * ((100vw - 320px) / 1600));
  font-weight: 900;
  border-radius: 4px;
  border: 3px solid #ffc7c7;
  background: #e95a5a;
  max-width: 860px;
  padding: 10px 20px;
}
@media (max-width: 1000px) {
  .title {
    width: 65%;
  }
}

.text {
  color: #4f4f65;
  font-size: calc(15px + 5 * ((100vw - 320px) / 1600));
  font-weight: 400;
  line-height: 22.5px; /* 102.5% */
}

@media (max-width: 1045px) {
  .img {
    width: 140px;
  }
}
@media (max-width: 500px) {
  .img {
    width: 80px;
  }
}

.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.3076923077% 10px 2.3076923077% 10px;
}

.main__title {
  margin-bottom: 5.3846153846%;
}

.main__content-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 932px) {
  .main__content-box {
    justify-content: center;
  }
}

.wrap-img {
  position: relative;
  width: 37.5%;
  height: 0;
  padding-bottom: 40.703125%;
  margin-right: 20px;
}
@media (max-width: 932px) {
  .wrap-img {
    width: 54%;
    padding-bottom: 25.1072961373%;
    margin-right: 0;
  }
}

.main__list {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-width: 550px;
}
@media (max-width: 932px) {
  .main__list {
    flex: 1 1 100%;
    min-width: auto;
  }
}

.main__list-item {
  position: relative;
  padding-left: 79px;
}
.main__list-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  background: url("../img/marker-list.svg") 0 0/cover no-repeat;
  width: 45px;
  height: 45px;
}
@media (max-width: 576px) {
  .main__list-item {
    padding-left: 30px;
  }
  .main__list-item::before {
    width: 25px;
    height: 25px;
  }
}

.request__container {
  display: flex;
  flex-direction: column;
  padding: 2.3076923077% 10px 2.3076923077% 10px;
  align-items: center;
}

.request__title {
  margin-bottom: 2.3076923077%;
}

.request__subtitle {
  color: #68687b;
  text-align: center;
  font-size: calc(15px + 15 * ((100vw - 320px) / 1600));
  font-weight: 700;
  line-height: 30px; /* 100% */
  margin-bottom: 5.3846153846%;
}

.request__content-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 5.3846153846%;
}

.request__item {
  flex: 0 1 31.333%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  gap: 20px;
}
@media (max-width: 478px) {
  .request__item {
    flex: 1 1 100%;
  }
}

.request__item-text {
  text-align: center;
}

.request__content-box_down {
  justify-content: space-around;
}

.request__item_down {
  flex: 0 1 33%;
}
@media (max-width: 478px) {
  .request__item_down {
    flex: 1 1 100%;
  }
}

.request__info-box {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #ffc7c7;
  background: #358483;
  max-width: 1080px;
  gap: 10px;
}
@media (max-width: 780px) {
  .request__info-box {
    flex-direction: column;
    gap: 20px;
  }
}

.request__info-title {
  color: #fff;
  text-align: center;
  font-family: Nunito;
  font-size: calc(30px + 15 * ((100vw - 320px) / 1600));
  font-weight: 900;
  line-height: 20px; /* 44.444% */
}

.request__info-text {
  color: #fff;
  text-align: center;
  font-family: Nunito;
  font-size: calc(15px + 10 * ((100vw - 320px) / 1600));
  font-weight: 900;
  line-height: 25px; /* 100% */
}

@media (max-width: 1045px) {
  .request__info-img {
    width: 140px;
  }
}
@media (max-width: 500px) {
  .request__info-img {
    width: 80px;
  }
}

.img-wrap {
  height: 174px;
}
@media (max-width: 1045px) {
  .img-wrap {
    height: 140px;
  }
}
@media (max-width: 500px) {
  .img-wrap {
    height: 80px;
  }
}

.consultation__container {
  padding: 2.3076923077% 10px 2.3076923077% 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.consultation__title {
  margin-bottom: 5.3846153846%;
}

.consultation__content-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 958px) {
  .consultation__content-box {
    justify-content: center;
  }
}

.wrap-img {
  position: relative;
  width: 37.5%;
  height: 0;
  padding-bottom: 35.15625%;
}
@media (max-width: 932px) {
  .wrap-img {
    width: 54%;
    padding-bottom: 55.7939914163%;
    margin-right: 0;
  }
}